* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.sh text eol=lf
*.png binary
*.ico binary
*.woff2 binary
